*.png
*.avi
*.csv
*.mp4
.gitignore
# Logs
logs
*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/dist
client/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*__pycache__
Notebooks/Models/yolov11m_50epv1.pt
Notebooks/Models/yolov11m_30ep.pt
Notebooks/Models/yolov11n_v1.pt

venv
PyScripts/res.json
Results/object_detection_trackingv1.json
Results/Sample_Response.json
Results/Sample_Response.json
Data/back.jpeg
Data/front.jpeg
Data/front.webp
Data/test.jpg
